.contactUsForm{

    margin-top: 100px ;
    background-color: whitesmoke;
    text-align: center;
}
.inputOfContactUs{
    display: flex;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    margin: 0 auto;
}
.btnOfContactUs{
    padding: 20px 60px;
    background-color: rebeccapurple;
    border: none;
    border-radius: 20px;
}
.nameInput , .emailInput , .numberInput {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
}