.upperPart{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}
.lowerPart{
    text-align: center;
    background-color: gray;
    color: white;
    height: 180px;
    font-size: 50px;
    margin:-80px  ;
}