.product{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.add{
 
    background-color: blueviolet  ;
    padding: 10px 20px ;
    border: none;
    color: white;
    font-weight: 900;
}
.home-page-item{
    display: flex;
    justify-content: space-around;
}